.container {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}
.info > div {
    font-weight: bold;
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 2px;
    margin-top: 20px;
}

.cell {
    width: 100%;
    height: 100%;
    background-color: #888;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.cell.flagged{
    background-color: #000;
}


